<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">


    <title>Profile</title>
</head>

<body>
    <div class="container-fluid bg-dark">
        <div class="container">
            <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">GPS Tracking</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#" id="cuenta" (current)>
                                Cuenta
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="misRutas">
                                Mis Rutas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="crearRuta">
                                Crear Ruta
                            </a>
                        </li>
                    </ul>
                    <button class="btn btn-outline-success my-2 my-sm-0" id="btnLogout" type="submit">Logout</button>
                </div>
            </nav>
        </div>


    </div>
    <div class="container">
        <div id="containerCrearRuta">

            <div class="alert alert-success alert-dismissible fade show" role="alert" id="alert1">
                <strong id="textAlert1"></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alert2">
                <strong id="textAlert2"></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="row mt-5">
                <div class="col-6">
                    <button type="button" class="btn btn-success" id="btnStart">Start</button>

                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-danger" id="btnStop">Stop</button>
                </div>
            </div>


            <div class="row mt-5" id="formSalvarRuta">
                <div class="col-5">
                    <input type="text" class="form-control" id="inputNameRoute" placeholder="Nombre de la ruta">
                </div>
                <div class="col-5">
                    <input type="text" class="form-control" id="inputDescriptionRoute" placeholder="Descripción de la ruta">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary" id="btnSaveRoute">Salvar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-5" id="containerMisRutas">
    </div>

    <div class="container mt-5" id="containerCuenta">
    </div>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0WxDgF_DVBdfVgZgdfLqMA0MvLkQJmXA">
    </script>

    <script src="./../js/profile.js"></script>
</body>

</html>